:root[data-theme="Saturated"][data-mode="light"] {
  --surface-canvas: oklch(0.98 0.01 260);
  --surface-panel: oklch(0.96 0.01 260);
  --surface-subtle: oklch(0.93 0.01 260);
  --text-primary: oklch(0.22 0.02 260);
  --text-muted: oklch(0.4 0.02 260);
  --border-subtle: oklch(0.86 0.01 260);
  --border-strong: oklch(0.76 0.01 260);
  --color-red-alt1-bg: oklch(0.93 0.049 25);
  --color-red-alt1-fg: oklch(0.325 0.15 25);
  --color-red-alt1-border: oklch(0.85 0.039 25);
  --color-red-alt1-accent: oklch(0.345 0.17 25);
  --color-red-alt2-bg: oklch(0.95 0.054 25);
  --color-red-alt2-fg: oklch(0.325 0.14 25);
  --color-red-alt2-border: oklch(0.87 0.044 25);
  --color-red-alt2-accent: oklch(0.345 0.16 25);
  --color-red-alt3-bg: oklch(0.97 0.059 25);
  --color-red-alt3-fg: oklch(0.325 0.13 25);
  --color-red-alt3-border: oklch(0.89 0.049 25);
  --color-red-alt3-accent: oklch(0.345 0.15 25);
  --color-orange-alt1-bg: oklch(0.93 0.049 55);
  --color-orange-alt1-fg: oklch(0.325 0.15 55);
  --color-orange-alt1-border: oklch(0.85 0.039 55);
  --color-orange-alt1-accent: oklch(0.345 0.17 55);
  --color-orange-alt2-bg: oklch(0.95 0.054 55);
  --color-orange-alt2-fg: oklch(0.325 0.14 55);
  --color-orange-alt2-border: oklch(0.87 0.044 55);
  --color-orange-alt2-accent: oklch(0.345 0.16 55);
  --color-orange-alt3-bg: oklch(0.97 0.059 55);
  --color-orange-alt3-fg: oklch(0.325 0.13 55);
  --color-orange-alt3-border: oklch(0.89 0.049 55);
  --color-orange-alt3-accent: oklch(0.345 0.15 55);
  --color-yellow-alt1-bg: oklch(0.93 0.049 95);
  --color-yellow-alt1-fg: oklch(0.325 0.15 95);
  --color-yellow-alt1-border: oklch(0.85 0.039 95);
  --color-yellow-alt1-accent: oklch(0.345 0.17 95);
  --color-yellow-alt2-bg: oklch(0.95 0.054 95);
  --color-yellow-alt2-fg: oklch(0.325 0.14 95);
  --color-yellow-alt2-border: oklch(0.87 0.044 95);
  --color-yellow-alt2-accent: oklch(0.345 0.16 95);
  --color-yellow-alt3-bg: oklch(0.97 0.059 95);
  --color-yellow-alt3-fg: oklch(0.325 0.13 95);
  --color-yellow-alt3-border: oklch(0.89 0.049 95);
  --color-yellow-alt3-accent: oklch(0.345 0.15 95);
  --color-lime-alt1-bg: oklch(0.93 0.049 120);
  --color-lime-alt1-fg: oklch(0.325 0.15 120);
  --color-lime-alt1-border: oklch(0.85 0.039 120);
  --color-lime-alt1-accent: oklch(0.345 0.17 120);
  --color-lime-alt2-bg: oklch(0.95 0.054 120);
  --color-lime-alt2-fg: oklch(0.325 0.14 120);
  --color-lime-alt2-border: oklch(0.87 0.044 120);
  --color-lime-alt2-accent: oklch(0.345 0.16 120);
  --color-lime-alt3-bg: oklch(0.97 0.059 120);
  --color-lime-alt3-fg: oklch(0.325 0.13 120);
  --color-lime-alt3-border: oklch(0.89 0.049 120);
  --color-lime-alt3-accent: oklch(0.345 0.15 120);
  --color-green-alt1-bg: oklch(0.93 0.049 145);
  --color-green-alt1-fg: oklch(0.325 0.15 145);
  --color-green-alt1-border: oklch(0.85 0.039 145);
  --color-green-alt1-accent: oklch(0.345 0.17 145);
  --color-green-alt2-bg: oklch(0.95 0.054 145);
  --color-green-alt2-fg: oklch(0.325 0.14 145);
  --color-green-alt2-border: oklch(0.87 0.044 145);
  --color-green-alt2-accent: oklch(0.345 0.16 145);
  --color-green-alt3-bg: oklch(0.97 0.059 145);
  --color-green-alt3-fg: oklch(0.325 0.13 145);
  --color-green-alt3-border: oklch(0.89 0.049 145);
  --color-green-alt3-accent: oklch(0.345 0.15 145);
  --color-teal-alt1-bg: oklch(0.93 0.049 170);
  --color-teal-alt1-fg: oklch(0.325 0.01 170);
  --color-teal-alt1-border: oklch(0.85 0.039 170);
  --color-teal-alt1-accent: oklch(0.345 0.03 170);
  --color-teal-alt2-bg: oklch(0.95 0.054 170);
  --color-teal-alt2-fg: oklch(0.325 0 170);
  --color-teal-alt2-border: oklch(0.87 0.044 170);
  --color-teal-alt2-accent: oklch(0.345 0.02 170);
  --color-teal-alt3-bg: oklch(0.97 0.059 170);
  --color-teal-alt3-fg: oklch(0.325 0 170);
  --color-teal-alt3-border: oklch(0.89 0.049 170);
  --color-teal-alt3-accent: oklch(0.345 0.02 170);
  --color-cyan-alt1-bg: oklch(0.93 0.049 200);
  --color-cyan-alt1-fg: oklch(0.325 0.15 200);
  --color-cyan-alt1-border: oklch(0.85 0.039 200);
  --color-cyan-alt1-accent: oklch(0.345 0.17 200);
  --color-cyan-alt2-bg: oklch(0.95 0.054 200);
  --color-cyan-alt2-fg: oklch(0.325 0.14 200);
  --color-cyan-alt2-border: oklch(0.87 0.044 200);
  --color-cyan-alt2-accent: oklch(0.345 0.16 200);
  --color-cyan-alt3-bg: oklch(0.97 0.059 200);
  --color-cyan-alt3-fg: oklch(0.325 0.13 200);
  --color-cyan-alt3-border: oklch(0.89 0.049 200);
  --color-cyan-alt3-accent: oklch(0.345 0.15 200);
  --color-blue-alt1-bg: oklch(0.93 0.049 255);
  --color-blue-alt1-fg: oklch(0.325 0.15 255);
  --color-blue-alt1-border: oklch(0.85 0.039 255);
  --color-blue-alt1-accent: oklch(0.345 0.17 255);
  --color-blue-alt2-bg: oklch(0.95 0.054 255);
  --color-blue-alt2-fg: oklch(0.325 0.14 255);
  --color-blue-alt2-border: oklch(0.87 0.044 255);
  --color-blue-alt2-accent: oklch(0.345 0.16 255);
  --color-blue-alt3-bg: oklch(0.97 0.059 255);
  --color-blue-alt3-fg: oklch(0.325 0.13 255);
  --color-blue-alt3-border: oklch(0.89 0.049 255);
  --color-blue-alt3-accent: oklch(0.345 0.15 255);
  --color-indigo-alt1-bg: oklch(0.93 0.049 275);
  --color-indigo-alt1-fg: oklch(0.325 0.15 275);
  --color-indigo-alt1-border: oklch(0.85 0.039 275);
  --color-indigo-alt1-accent: oklch(0.345 0.17 275);
  --color-indigo-alt2-bg: oklch(0.95 0.054 275);
  --color-indigo-alt2-fg: oklch(0.325 0.14 275);
  --color-indigo-alt2-border: oklch(0.87 0.044 275);
  --color-indigo-alt2-accent: oklch(0.345 0.16 275);
  --color-indigo-alt3-bg: oklch(0.97 0.059 275);
  --color-indigo-alt3-fg: oklch(0.325 0.13 275);
  --color-indigo-alt3-border: oklch(0.89 0.049 275);
  --color-indigo-alt3-accent: oklch(0.345 0.15 275);
  --color-violet-alt1-bg: oklch(0.93 0.049 295);
  --color-violet-alt1-fg: oklch(0.325 0.15 295);
  --color-violet-alt1-border: oklch(0.85 0.039 295);
  --color-violet-alt1-accent: oklch(0.345 0.17 295);
  --color-violet-alt2-bg: oklch(0.95 0.054 295);
  --color-violet-alt2-fg: oklch(0.325 0.14 295);
  --color-violet-alt2-border: oklch(0.87 0.044 295);
  --color-violet-alt2-accent: oklch(0.345 0.16 295);
  --color-violet-alt3-bg: oklch(0.97 0.059 295);
  --color-violet-alt3-fg: oklch(0.325 0.13 295);
  --color-violet-alt3-border: oklch(0.89 0.049 295);
  --color-violet-alt3-accent: oklch(0.345 0.15 295);
  --color-purple-alt1-bg: oklch(0.93 0.049 305);
  --color-purple-alt1-fg: oklch(0.325 0.0587 305);
  --color-purple-alt1-border: oklch(0.85 0.039 305);
  --color-purple-alt1-accent: oklch(0.345 0.0787 305);
  --color-purple-alt2-bg: oklch(0.95 0.054 305);
  --color-purple-alt2-fg: oklch(0.325 0.0487 305);
  --color-purple-alt2-border: oklch(0.87 0.044 305);
  --color-purple-alt2-accent: oklch(0.345 0.0687 305);
  --color-purple-alt3-bg: oklch(0.97 0.059 305);
  --color-purple-alt3-fg: oklch(0.325 0.0387 305);
  --color-purple-alt3-border: oklch(0.89 0.049 305);
  --color-purple-alt3-accent: oklch(0.345 0.0587 305);
  --color-pink-alt1-bg: oklch(0.93 0 335);
  --color-pink-alt1-fg: oklch(0.325 0.15 335);
  --color-pink-alt1-border: oklch(0.85 0 335);
  --color-pink-alt1-accent: oklch(0.345 0.17 335);
  --color-pink-alt2-bg: oklch(0.95 0 335);
  --color-pink-alt2-fg: oklch(0.325 0.14 335);
  --color-pink-alt2-border: oklch(0.87 0 335);
  --color-pink-alt2-accent: oklch(0.345 0.16 335);
  --color-pink-alt3-bg: oklch(0.97 0.005 335);
  --color-pink-alt3-fg: oklch(0.325 0.13 335);
  --color-pink-alt3-border: oklch(0.89 0 335);
  --color-pink-alt3-accent: oklch(0.345 0.15 335);
  --color-gray-alt1-bg: oklch(0.93 0.049 260);
  --color-gray-alt1-fg: oklch(0.325 0.0202 260);
  --color-gray-alt1-border: oklch(0.85 0.039 260);
  --color-gray-alt1-accent: oklch(0.345 0.0402 260);
  --color-gray-alt2-bg: oklch(0.95 0.054 260);
  --color-gray-alt2-fg: oklch(0.325 0.0102 260);
  --color-gray-alt2-border: oklch(0.87 0.044 260);
  --color-gray-alt2-accent: oklch(0.345 0.0302 260);
  --color-gray-alt3-bg: oklch(0.97 0.059 260);
  --color-gray-alt3-fg: oklch(0.325 0.0002 260);
  --color-gray-alt3-border: oklch(0.89 0.049 260);
  --color-gray-alt3-accent: oklch(0.345 0.0202 260);
}

:root[data-theme="Saturated"][data-mode="dark"] {
  --surface-canvas: oklch(0.17 0.02 260);
  --surface-panel: oklch(0.21 0.02 260);
  --surface-subtle: oklch(0.25 0.02 260);
  --text-primary: oklch(0.92 0.02 260);
  --text-muted: oklch(0.74 0.02 260);
  --border-subtle: oklch(0.32 0.02 260);
  --border-strong: oklch(0.42 0.02 260);
  --color-red-alt1-bg: oklch(0.232 0.075 25);
  --color-red-alt1-fg: oklch(0.85 0.11 25);
  --color-red-alt1-border: oklch(0.332 0.065 25);
  --color-red-alt1-accent: oklch(0.83 0.13 25);
  --color-red-alt2-bg: oklch(0.252 0.08 25);
  --color-red-alt2-fg: oklch(0.85 0.1 25);
  --color-red-alt2-border: oklch(0.352 0.07 25);
  --color-red-alt2-accent: oklch(0.83 0.12 25);
  --color-red-alt3-bg: oklch(0.272 0.08 25);
  --color-red-alt3-fg: oklch(0.85 0.09 25);
  --color-red-alt3-border: oklch(0.372 0.07 25);
  --color-red-alt3-accent: oklch(0.83 0.11 25);
  --color-orange-alt1-bg: oklch(0.232 0.075 55);
  --color-orange-alt1-fg: oklch(0.85 0.11 55);
  --color-orange-alt1-border: oklch(0.332 0.065 55);
  --color-orange-alt1-accent: oklch(0.83 0.13 55);
  --color-orange-alt2-bg: oklch(0.252 0.08 55);
  --color-orange-alt2-fg: oklch(0.85 0.1 55);
  --color-orange-alt2-border: oklch(0.352 0.07 55);
  --color-orange-alt2-accent: oklch(0.83 0.12 55);
  --color-orange-alt3-bg: oklch(0.272 0.08 55);
  --color-orange-alt3-fg: oklch(0.85 0.09 55);
  --color-orange-alt3-border: oklch(0.372 0.07 55);
  --color-orange-alt3-accent: oklch(0.83 0.11 55);
  --color-yellow-alt1-bg: oklch(0.232 0.075 95);
  --color-yellow-alt1-fg: oklch(0.85 0.11 95);
  --color-yellow-alt1-border: oklch(0.332 0.065 95);
  --color-yellow-alt1-accent: oklch(0.83 0.13 95);
  --color-yellow-alt2-bg: oklch(0.252 0.08 95);
  --color-yellow-alt2-fg: oklch(0.85 0.1 95);
  --color-yellow-alt2-border: oklch(0.352 0.07 95);
  --color-yellow-alt2-accent: oklch(0.83 0.12 95);
  --color-yellow-alt3-bg: oklch(0.272 0.08 95);
  --color-yellow-alt3-fg: oklch(0.85 0.09 95);
  --color-yellow-alt3-border: oklch(0.372 0.07 95);
  --color-yellow-alt3-accent: oklch(0.83 0.11 95);
  --color-lime-alt1-bg: oklch(0.232 0.075 120);
  --color-lime-alt1-fg: oklch(0.85 0.11 120);
  --color-lime-alt1-border: oklch(0.332 0.065 120);
  --color-lime-alt1-accent: oklch(0.83 0.13 120);
  --color-lime-alt2-bg: oklch(0.252 0.08 120);
  --color-lime-alt2-fg: oklch(0.85 0.1 120);
  --color-lime-alt2-border: oklch(0.352 0.07 120);
  --color-lime-alt2-accent: oklch(0.83 0.12 120);
  --color-lime-alt3-bg: oklch(0.272 0.08 120);
  --color-lime-alt3-fg: oklch(0.85 0.09 120);
  --color-lime-alt3-border: oklch(0.372 0.07 120);
  --color-lime-alt3-accent: oklch(0.83 0.11 120);
  --color-green-alt1-bg: oklch(0.232 0.075 145);
  --color-green-alt1-fg: oklch(0.85 0.11 145);
  --color-green-alt1-border: oklch(0.332 0.065 145);
  --color-green-alt1-accent: oklch(0.83 0.13 145);
  --color-green-alt2-bg: oklch(0.252 0.08 145);
  --color-green-alt2-fg: oklch(0.85 0.1 145);
  --color-green-alt2-border: oklch(0.352 0.07 145);
  --color-green-alt2-accent: oklch(0.83 0.12 145);
  --color-green-alt3-bg: oklch(0.272 0.08 145);
  --color-green-alt3-fg: oklch(0.85 0.09 145);
  --color-green-alt3-border: oklch(0.372 0.07 145);
  --color-green-alt3-accent: oklch(0.83 0.11 145);
  --color-teal-alt1-bg: oklch(0.232 0.075 170);
  --color-teal-alt1-fg: oklch(0.85 0.01 170);
  --color-teal-alt1-border: oklch(0.332 0.065 170);
  --color-teal-alt1-accent: oklch(0.83 0.03 170);
  --color-teal-alt2-bg: oklch(0.252 0.08 170);
  --color-teal-alt2-fg: oklch(0.85 0 170);
  --color-teal-alt2-border: oklch(0.352 0.07 170);
  --color-teal-alt2-accent: oklch(0.83 0.02 170);
  --color-teal-alt3-bg: oklch(0.272 0.08 170);
  --color-teal-alt3-fg: oklch(0.85 0 170);
  --color-teal-alt3-border: oklch(0.372 0.07 170);
  --color-teal-alt3-accent: oklch(0.83 0.02 170);
  --color-cyan-alt1-bg: oklch(0.232 0.075 200);
  --color-cyan-alt1-fg: oklch(0.85 0.11 200);
  --color-cyan-alt1-border: oklch(0.332 0.065 200);
  --color-cyan-alt1-accent: oklch(0.83 0.13 200);
  --color-cyan-alt2-bg: oklch(0.252 0.08 200);
  --color-cyan-alt2-fg: oklch(0.85 0.1 200);
  --color-cyan-alt2-border: oklch(0.352 0.07 200);
  --color-cyan-alt2-accent: oklch(0.83 0.12 200);
  --color-cyan-alt3-bg: oklch(0.272 0.08 200);
  --color-cyan-alt3-fg: oklch(0.85 0.09 200);
  --color-cyan-alt3-border: oklch(0.372 0.07 200);
  --color-cyan-alt3-accent: oklch(0.83 0.11 200);
  --color-blue-alt1-bg: oklch(0.232 0.075 255);
  --color-blue-alt1-fg: oklch(0.85 0.11 255);
  --color-blue-alt1-border: oklch(0.332 0.065 255);
  --color-blue-alt1-accent: oklch(0.83 0.13 255);
  --color-blue-alt2-bg: oklch(0.252 0.08 255);
  --color-blue-alt2-fg: oklch(0.85 0.1 255);
  --color-blue-alt2-border: oklch(0.352 0.07 255);
  --color-blue-alt2-accent: oklch(0.83 0.12 255);
  --color-blue-alt3-bg: oklch(0.272 0.08 255);
  --color-blue-alt3-fg: oklch(0.85 0.09 255);
  --color-blue-alt3-border: oklch(0.372 0.07 255);
  --color-blue-alt3-accent: oklch(0.83 0.11 255);
  --color-indigo-alt1-bg: oklch(0.232 0.075 275);
  --color-indigo-alt1-fg: oklch(0.85 0.11 275);
  --color-indigo-alt1-border: oklch(0.332 0.065 275);
  --color-indigo-alt1-accent: oklch(0.83 0.13 275);
  --color-indigo-alt2-bg: oklch(0.252 0.08 275);
  --color-indigo-alt2-fg: oklch(0.85 0.1 275);
  --color-indigo-alt2-border: oklch(0.352 0.07 275);
  --color-indigo-alt2-accent: oklch(0.83 0.12 275);
  --color-indigo-alt3-bg: oklch(0.272 0.08 275);
  --color-indigo-alt3-fg: oklch(0.85 0.09 275);
  --color-indigo-alt3-border: oklch(0.372 0.07 275);
  --color-indigo-alt3-accent: oklch(0.83 0.11 275);
  --color-violet-alt1-bg: oklch(0.232 0.075 295);
  --color-violet-alt1-fg: oklch(0.85 0.11 295);
  --color-violet-alt1-border: oklch(0.332 0.065 295);
  --color-violet-alt1-accent: oklch(0.83 0.13 295);
  --color-violet-alt2-bg: oklch(0.252 0.08 295);
  --color-violet-alt2-fg: oklch(0.85 0.1 295);
  --color-violet-alt2-border: oklch(0.352 0.07 295);
  --color-violet-alt2-accent: oklch(0.83 0.12 295);
  --color-violet-alt3-bg: oklch(0.272 0.08 295);
  --color-violet-alt3-fg: oklch(0.85 0.09 295);
  --color-violet-alt3-border: oklch(0.372 0.07 295);
  --color-violet-alt3-accent: oklch(0.83 0.11 295);
  --color-purple-alt1-bg: oklch(0.232 0.075 305);
  --color-purple-alt1-fg: oklch(0.85 0.0587 305);
  --color-purple-alt1-border: oklch(0.332 0.065 305);
  --color-purple-alt1-accent: oklch(0.83 0.0787 305);
  --color-purple-alt2-bg: oklch(0.252 0.08 305);
  --color-purple-alt2-fg: oklch(0.85 0.0487 305);
  --color-purple-alt2-border: oklch(0.352 0.07 305);
  --color-purple-alt2-accent: oklch(0.83 0.0687 305);
  --color-purple-alt3-bg: oklch(0.272 0.08 305);
  --color-purple-alt3-fg: oklch(0.85 0.0387 305);
  --color-purple-alt3-border: oklch(0.372 0.07 305);
  --color-purple-alt3-accent: oklch(0.83 0.0587 305);
  --color-pink-alt1-bg: oklch(0.232 0 335);
  --color-pink-alt1-fg: oklch(0.85 0.11 335);
  --color-pink-alt1-border: oklch(0.332 0 335);
  --color-pink-alt1-accent: oklch(0.83 0.13 335);
  --color-pink-alt2-bg: oklch(0.252 0 335);
  --color-pink-alt2-fg: oklch(0.85 0.1 335);
  --color-pink-alt2-border: oklch(0.352 0 335);
  --color-pink-alt2-accent: oklch(0.83 0.12 335);
  --color-pink-alt3-bg: oklch(0.272 0.005 335);
  --color-pink-alt3-fg: oklch(0.85 0.09 335);
  --color-pink-alt3-border: oklch(0.372 0 335);
  --color-pink-alt3-accent: oklch(0.83 0.11 335);
  --color-gray-alt1-bg: oklch(0.232 0.075 260);
  --color-gray-alt1-fg: oklch(0.85 0.0202 260);
  --color-gray-alt1-border: oklch(0.332 0.065 260);
  --color-gray-alt1-accent: oklch(0.83 0.0402 260);
  --color-gray-alt2-bg: oklch(0.252 0.08 260);
  --color-gray-alt2-fg: oklch(0.85 0.0102 260);
  --color-gray-alt2-border: oklch(0.352 0.07 260);
  --color-gray-alt2-accent: oklch(0.83 0.0302 260);
  --color-gray-alt3-bg: oklch(0.272 0.08 260);
  --color-gray-alt3-fg: oklch(0.85 0.0002 260);
  --color-gray-alt3-border: oklch(0.372 0.07 260);
  --color-gray-alt3-accent: oklch(0.83 0.0202 260);
}